footer{
    padding: 20px 0;
}

.footer_menu{
    display: flex;
    align-items: center;
    column-gap: 70px;
    @media (max-width: 1024px) {
        column-gap: 0;
        justify-content: space-between;
    }
}